<div id="app">
    <div id="chat_container">
        <div class="wrapper" *ngFor="let chat of Chats">
            <div class="chat">
                <div class="profile">
                    <img
                        [src]="
                            chat.isBot ? 'assets/bot.svg' : 'assets/user.svg'
                        "
                        [alt]="chat.isBot ? 'bot' : 'user'"
                    />
                </div>
                <div class="message" [id]="uniqueId">
                    {{ chat.message }}
                </div>
            </div>
        </div>
    </div>

    <form [formGroup]="chatForm" (ngSubmit)="onSubmit()">
        <textarea
            name="prompt"
            rows="1"
            cols="1"
            placeholder="Ask BotRaja..."
            formControlName="userChat"
        ></textarea>
        <button type="submit"><img src="assets/send.svg" alt="send" /></button>
    </form>
</div>
